header {
    display: grid;
    grid-template-columns: 90% 10%;
}

#header-title {
    width: 100%;
    padding-left: 2vw;
}

#header-about {
    margin: 0;
    transition: 0.2s backdrop-filter linear;
    width: 100%;
}

h1 {
    font-size: 5vw;
    margin-top: 1vh;
    margin-bottom: 3vh;
}

body>div {
    flex-grow: 1;
    position: relative;
}

main {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 80% 20%;
    transition: transform 750ms ease-in-out;
    overflow-x: hidden;
}

.content-label {
    grid-column: 1/4;
}

.content-title {
    grid-column: 2;
    transition: 0.2s linear backdrop-filter;
    overflow-x: hidden;
}

.content-title > h2 {
    font-size: 3vw;
}

.content-nav:first-child {
    grid-column: 1;
}
.content-nav:last-child {
    grid-column: 3;
}

.content-nav {
    border-left: none;
    border-right: none;
    border-bottom: none;
    background-color: transparent;
    color: var(--body-text);
    font-size: 3vw;
    cursor: pointer;
    width: 100%;
    height: 100%;
    transition: 0.2s backdrop-filter linear;
    -webkit-user-select: none;
    user-select: none;
    z-index: 10;
}
.night-mode .content-nav {
    color: var(--dark-body-text);
}

#header-about:hover, .content-nav:hover, .content-title:hover {
    backdrop-filter: brightness(90%);
}
.night-mode :is(#header-about, .content-nav, .content-title):hover {
    backdrop-filter: brightness(130%);
}

main > * {
    border-top: 1px solid var(--accent);
    border-collapse: collapse;
}

.gradient-overlay {
    width: 100%;
    height: 100%;
}

.content-title h2, .content-title a {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.left .content-label, .left .content-title>h2 {
    transform: translateX(-100vw);
}
.right .content-label, .right .content-title>h2 {
    transform: translateX(100vw);
}

main:not(.left, .hidden, .right) {
    z-index: 4;
}
main.left :is(.content-title, .content-label),
main.right :is(.content-title, .content-label) {
    z-index: 5;
    pointer-events: none;
}