@media all and (min-width:600px) {
    h1 {
        font-size: 5vw;
        margin-top: 1vh;
        margin-bottom: 3vh;
        padding-left: 2vw;
    }

    #page-list {
        flex-grow: 1;
        position: relative;
    }

    main {
        position: absolute;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 10% 80% 10%;
        grid-template-rows: 80% 20%;
        overflow-x: hidden;
    }

    .content-label {
        grid-column: 1/4;
    }

    .content-title {
        grid-column: 2;
        overflow-x: hidden;
    }

    .content-title > h2 {
        font-size: 3vw;
    }

    .content-nav:first-child {
        grid-column: 1;
    }
    .content-nav:last-child {
        grid-column: 3;
    }

    .content-nav {
        border: none;
        border-top: 1px solid var(--accent);
        background-color: transparent;
        color: var(--body-text);
        font-size: 3vw;
        cursor: pointer;
        width: 100%;
        height: 100%;
        -webkit-user-select: none;
        user-select: none;
        z-index: 10;
    }

    main > * {
        border-top: 1px solid var(--accent);
        border-collapse: collapse;
    }

    .gradient-overlay {
        width: 100%;
        height: 100%;
    }

    .content-title h2, .content-title a {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .left .content-label, .left .content-title>h2 {
        transform: translateX(-100vw);
    }
    .right .content-label, .right .content-title>h2 {
        transform: translateX(100vw);
    }

    main:not(.left, .hidden, .right) {
        z-index: 4;
    }
    main.left :is(.content-title, .content-label),
    main.right :is(.content-title, .content-label) {
        z-index: 5;
        pointer-events: none;
    }
}

@media all and (max-width:600px) {
    h1 {
        font-size: 5vw;
        margin-top: 1vh;
        margin-bottom: 3vh;
    }
    
    #page-list {
        display: grid;
        grid-template-rows: 25% 25% 25% 25%;
        flex-grow: 1;
        position: relative;
    }

    main {
        width: 100%;
        height: 100%;
        display: grid;
        transition: 750ms ease-in-out transform;
        overflow-x: hidden;
    }
    main:nth-child(2n) {
        grid-template-columns: 60% 40%;
    }
    main:nth-child(2n + 1) {
        grid-template-columns: 40% 60%;
    }
    main:nth-child(2n + 1) .content-label {
        grid-column: 2;
        grid-row: 1;
    }
    main:nth-child(2n + 1) .content-title {
        grid-column: 1;
        grid-row: 1;
    }

    main.hidden {
        display: grid;
    }

    .content-title > h2 {
        font-size: 3vw;
    }

    .content-nav {
        display: none;
    }

    main > * {
        border-top: 1px solid var(--accent);
        border-collapse: collapse;
    }

    .gradient-overlay {
        width: 100%;
        height: 100%;
    }

    .content-title h2, .content-title a {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}