.content-label {
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    background-color: var(--body-background);
}

.gradient-overlay {
    backdrop-filter: blur(3px);
}

main:nth-of-type(1) .content-label {
}
main:nth-of-type(1) .gradient-overlay {
    background-image:
    linear-gradient(to right,
    hsl(352, 67%, 34%) 0%,
    hsla(352, 67%, 34%, 0.987) 1.62%,
    hsla(352, 67%, 34%, 0.951) 3.1%,
    hsla(352, 67%, 34%, 0.896) 4.5%,
    hsla(352, 67%, 34%, 0.825) 5.8%,
    hsla(352, 67%, 34%, 0.741) 7.06%,
    hsla(352, 67%, 34%, 0.648) 8.24%,
    hsla(352, 67%, 34%, 0.55) 9.42%,
    hsla(352, 67%, 34%, 0.45) 10.58%,
    hsla(352, 67%, 34%, 0.352) 11.76%,
    hsla(352, 67%, 34%, 0.259) 12.94%,
    hsla(352, 67%, 34%, 0.175) 14.2%,
    hsla(352, 67%, 34%, 0.104) 15.5%,
    hsla(352, 67%, 34%, 0.049) 16.9%,
    hsla(352, 67%, 34%, 0.013) 18.38%,
    hsla(352, 67%, 34%, 0) 20%,
    hsla(352, 67%, 34%, 0) 80%,
    hsla(352, 67%, 34%, 0.013) 81.62%,
    hsla(352, 67%, 34%, 0.049) 83.1%,
    hsla(352, 67%, 34%, 0.104) 84.5%,
    hsla(352, 67%, 34%, 0.175) 85.8%,
    hsla(352, 67%, 34%, 0.259) 87.06%,
    hsla(352, 67%, 34%, 0.352) 88.24%,
    hsla(352, 67%, 34%, 0.45) 89.42%,
    hsla(352, 67%, 34%, 0.55) 90.58%,
    hsla(352, 67%, 34%, 0.648) 91.76%,
    hsla(352, 67%, 34%, 0.741) 92.94%,
    hsla(352, 67%, 34%, 0.825) 94.2%,
    hsla(352, 67%, 34%, 0.896) 95.5%,
    hsla(352, 67%, 34%, 0.951) 96.9%,
    hsla(352, 67%, 34%, 0.987) 98.38%,
    hsl(352, 67%, 34%) 100%);
}

main:nth-of-type(2) .content-label {
    background-image: url("../res/img/dynamic-lcs.PNG");
}
main:nth-of-type(2) .gradient-overlay {
    background-image:
    linear-gradient(to right,
    hsl(247, 67%, 34%) 0%,
    hsla(247, 67%, 34%, 0.987) 1.62%,
    hsla(247, 67%, 34%, 0.951) 3.1%,
    hsla(247, 67%, 34%, 0.896) 4.5%,
    hsla(247, 67%, 34%, 0.825) 5.8%,
    hsla(247, 67%, 34%, 0.741) 7.06%,
    hsla(247, 67%, 34%, 0.648) 8.24%,
    hsla(247, 67%, 34%, 0.55) 9.42%,
    hsla(247, 67%, 34%, 0.45) 10.58%,
    hsla(247, 67%, 34%, 0.352) 11.76%,
    hsla(247, 67%, 34%, 0.259) 12.94%,
    hsla(247, 67%, 34%, 0.175) 14.2%,
    hsla(247, 67%, 34%, 0.104) 15.5%,
    hsla(247, 67%, 34%, 0.049) 16.9%,
    hsla(247, 67%, 34%, 0.013) 18.38%,
    hsla(247, 67%, 34%, 0) 20%,
    hsla(247, 67%, 34%, 0) 80%,
    hsla(247, 67%, 34%, 0.013) 81.62%,
    hsla(247, 67%, 34%, 0.049) 83.1%,
    hsla(247, 67%, 34%, 0.104) 84.5%,
    hsla(247, 67%, 34%, 0.175) 85.8%,
    hsla(247, 67%, 34%, 0.259) 87.06%,
    hsla(247, 67%, 34%, 0.352) 88.24%,
    hsla(247, 67%, 34%, 0.45) 89.42%,
    hsla(247, 67%, 34%, 0.55) 90.58%,
    hsla(247, 67%, 34%, 0.648) 91.76%,
    hsla(247, 67%, 34%, 0.741) 92.94%,
    hsla(247, 67%, 34%, 0.825) 94.2%,
    hsla(247, 67%, 34%, 0.896) 95.5%,
    hsla(247, 67%, 34%, 0.951) 96.9%,
    hsla(247, 67%, 34%, 0.987) 98.38%,
    hsl(247, 67%, 34%) 100%);
}

main:nth-of-type(3) .content-label {
}
main:nth-of-type(3) .gradient-overlay {
    background-image:
    linear-gradient(to right,
    hsl(126, 67%, 34%) 0%,
    hsla(126, 67%, 34%, 0.987) 1.62%,
    hsla(126, 67%, 34%, 0.951) 3.1%,
    hsla(126, 67%, 34%, 0.896) 4.5%,
    hsla(126, 67%, 34%, 0.825) 5.8%,
    hsla(126, 67%, 34%, 0.741) 7.06%,
    hsla(126, 67%, 34%, 0.648) 8.24%,
    hsla(126, 67%, 34%, 0.55) 9.42%,
    hsla(126, 67%, 34%, 0.45) 10.58%,
    hsla(126, 67%, 34%, 0.352) 11.76%,
    hsla(126, 67%, 34%, 0.259) 12.94%,
    hsla(126, 67%, 34%, 0.175) 14.2%,
    hsla(126, 67%, 34%, 0.104) 15.5%,
    hsla(126, 67%, 34%, 0.049) 16.9%,
    hsla(126, 67%, 34%, 0.013) 18.38%,
    hsla(126, 67%, 34%, 0) 20%,
    hsla(126, 67%, 34%, 0) 80%,
    hsla(126, 67%, 34%, 0.013) 81.62%,
    hsla(126, 67%, 34%, 0.049) 83.1%,
    hsla(126, 67%, 34%, 0.104) 84.5%,
    hsla(126, 67%, 34%, 0.175) 85.8%,
    hsla(126, 67%, 34%, 0.259) 87.06%,
    hsla(126, 67%, 34%, 0.352) 88.24%,
    hsla(126, 67%, 34%, 0.45) 89.42%,
    hsla(126, 67%, 34%, 0.55) 90.58%,
    hsla(126, 67%, 34%, 0.648) 91.76%,
    hsla(126, 67%, 34%, 0.741) 92.94%,
    hsla(126, 67%, 34%, 0.825) 94.2%,
    hsla(126, 67%, 34%, 0.896) 95.5%,
    hsla(126, 67%, 34%, 0.951) 96.9%,
    hsla(126, 67%, 34%, 0.987) 98.38%,
    hsl(126, 67%, 34%) 100%);
}

main:nth-of-type(4) .content-label {
}
main:nth-of-type(4) .gradient-overlay {
    background-image:
    linear-gradient(to right,
    hsl(60, 56%, 46%) 0%,
    hsla(60, 56%, 46%, 0.987) 1.62%,
    hsla(60, 56%, 46%, 0.951) 3.1%,
    hsla(60, 56%, 46%, 0.896) 4.5%,
    hsla(60, 56%, 46%, 0.825) 5.8%,
    hsla(60, 56%, 46%, 0.741) 7.06%,
    hsla(60, 56%, 46%, 0.648) 8.24%,
    hsla(60, 56%, 46%, 0.55) 9.42%,
    hsla(60, 56%, 46%, 0.45) 10.58%,
    hsla(60, 56%, 46%, 0.352) 11.76%,
    hsla(60, 56%, 46%, 0.259) 12.94%,
    hsla(60, 56%, 46%, 0.175) 14.2%,
    hsla(60, 56%, 46%, 0.104) 15.5%,
    hsla(60, 56%, 46%, 0.049) 16.9%,
    hsla(60, 56%, 46%, 0.013) 18.38%,
    hsla(60, 56%, 46%, 0) 20%,
    hsla(60, 56%, 46%, 0) 80%,
    hsla(60, 56%, 46%, 0.013) 81.62%,
    hsla(60, 56%, 46%, 0.049) 83.1%,
    hsla(60, 56%, 46%, 0.104) 84.5%,
    hsla(60, 56%, 46%, 0.175) 85.8%,
    hsla(60, 56%, 46%, 0.259) 87.06%,
    hsla(60, 56%, 46%, 0.352) 88.24%,
    hsla(60, 56%, 46%, 0.45) 89.42%,
    hsla(60, 56%, 46%, 0.55) 90.58%,
    hsla(60, 56%, 46%, 0.648) 91.76%,
    hsla(60, 56%, 46%, 0.741) 92.94%,
    hsla(60, 56%, 46%, 0.825) 94.2%,
    hsla(60, 56%, 46%, 0.896) 95.5%,
    hsla(60, 56%, 46%, 0.951) 96.9%,
    hsla(60, 56%, 46%, 0.987) 98.38%,
    hsl(60, 56%, 46%) 100%);
}