:root {
    --body-text: #171a26;
    --sub-text: #4b4b50;
    --body-background: #eef0f6;
    --header-background: #c3ccf5;
    --accent: #8a85ad;
    --bright-accent-shine: #d5d4db;
    --bright-accent: #c5c4d0;
    --bright-accent-dull: #aca9c5;

    --dark-body-text: #f2f4fc;
    --dark-sub-text: #B1B2BB;
    --dark-body-background: #282D3E;
    --dark-header-background: #1B1E2B;
    --dark-accent: #39344d;
    --bright-dark-accent-shine: #69647e;
    --bright-dark-accent: #59546f;
    --bright-dark-accent-dull: #4d4864;
}

html {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border-color: var(--accent);
}
body.night-mode {
    border-color: var(--dark-accent);
}

header {
    background-color: var(--header-background);
    border: 1px solid var(--accent);
    width: 100%;
}
.night-mode header {
    background-color: var(--dark-header-background);
    border: var(--dark-accent);
}

main {
    background: linear-gradient(90deg, var(--body-background) 0%, var(--body-background) 75%, var(--header-background) 100%);
}
.night-mode main {
    background: linear-gradient(90deg, var(--dark-body-background) 0%, var(--dark-body-background) 75%, var(--dark-header-background) 100%);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Sarabun", "Century Gothic", "CenturyGothic", "AppleGothic", sans-serif;
    font-weight: 400;
    color: var(--body-text);
}
.night-mode :is(h1, h2, h3, h4, h5, h6) {
    color: var(--dark-body-text);
}

p, a, label, td, th, b {
    font-family: "Arvo", "TimesNewRoman", "Times New Roman", "Times", "Baskerville", "Georgia", serif;
    font-weight: 400;
    color: var(--body-text);
    text-decoration: none;
    transition: 0.2s filter linear;
}
.night-mode :is(p, a, label, td, th, b) {
    color: var(--dark-body-text);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.v-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hidden {
    display: none;
}

#day-theme {
    position: absolute;
    top: 1vh;
    right: 1vw;
    width: 3.5vh;
    aspect-ratio: 1/1;
    border: none;
    border-radius: 50%;
    transition: 0.2s filter linear;
    background-image: linear-gradient(var(--body-background), var(--accent));
    fill: var(--body-text);
    padding: 0.5vh;
    cursor: pointer;
}
#day-theme:hover {
    filter: brightness(80%);
}
.night-mode #day-theme {
    background-image: linear-gradient(var(--dark-accent), var(--dark-body-background));
    fill: var(--dark-body-text);
}
.night-mode #day-theme:hover {
    filter: brightness(130%);
}

#sun-icon {
    display: none;
}
.night-mode #sun-icon {
    display: block;
}

#moon-icon {
    display: block;
}
.night-mode #moon-icon {
    display: none;
}

.sub-text {
    color: var(--sub-text);
}
.night-mode .sub-text {
    color: var(--dark-sub-text);
}