header {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 90% 10%;
}

#header-title {
    width: 100%;
}

#header-about {
    margin: 0;
    transition: 0.2s backdrop-filter linear;
    width: 100%;
}

h1 {
    font-size: 5vw;
    margin-top: 1vh;
    margin-bottom: 3vh;
}

main {
    flex-grow: 1;
    position: relative;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 80% 20%;
    transition: transform 750ms ease-in-out;
}

.content-label {
    grid-column: 1/4;
}

.content-title {
    grid-column: 2;
}

.content-title > h2 {
    font-size: 3vw;
}

.content-nav:first-child {
    grid-column: 1;
}
.content-nav:last-child {
    grid-column: 3;
}

.content-nav {
    border-left: none;
    border-right: none;
    border-bottom: none;
    background-color: transparent;
    color: var(--body-text);
    font-size: 3vw;
    cursor: pointer;
    width: 100%;
    height: 100%;
    transition: 0.2s backdrop-filter linear;
      -webkit-user-select: none;
              user-select: none;
}
.night-mode .content-nav {
    color: var(--dark-body-text);
}

#header-about:hover, .content-nav:hover {
    backdrop-filter: brightness(90%);
}
.night-mode :is(#header-about, .content-nav):hover {
    backdrop-filter: brightness(130%);
}

main > * {
    border-top: 1px solid var(--accent);
    border-collapse: collapse;
}