:root {
    /* --main-background-color: #D7D2C1; */
    --header-background-color: #1B1E2B;
    --description-background-color: #282D3E;
    --title-background-color: #282D3E;
    --navigation-button-background-color: #282D3E;
    --border-color: #39344d;
    --highlight-color: #a5acc3;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0px;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, a, p, span {
    /* use itc avant guarde font */
    font-family: Avant Garde, Avantgarde, Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    font-weight: 400;
    color: white;
    margin: 0px;
}


h1 {
    font-size: 5rem;
    line-height: 1.5rem;
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--highlight-color);
}

header {
    display: flex;
    width: 100%;
    background-color: var(--header-background-color);
    border: 1px solid var(--border-color);

}

header .header-section {
    padding: 3rem 2rem;
    display: flex;
    border-left: 1px solid var(--border-color);
    align-items: center;
    justify-content: center;
}

#header-mobile-section {
    display: flex;
    flex-basis: 100%;
    z-index: 2;
}

#header-about-section {
    flex-grow: 1;
}

#header-title-section {
    flex-basis: 90%;
}

main {
    flex-grow: 1;
    position: relative;
    overflow: hidden;
    background: linear-gradient(90deg, var(--title-background-color), var(--header-background-color));
}

main > content {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 9fr 1fr;
    position: absolute;
    left: 0px;
    top: 0px;
    transition: transform 750ms ease-in-out;
}

main > content[data-status="inactive"] {
    transform: translateX(-100%);
    transition: none;
}

main > content[data-status="active"] {
    transform: translateX(0%);
}

main > content[data-status="before"] {
    transform: translateX(-100%);
}

main > content[data-status="after"] {
    transform: translateX(100%);
}

main > content[data-status="becoming-active-from-before"] {
    transform: translateX(-100%);
    transition: none;
}

main > content[data-status="becoming-active-from-after"] {
    transform: translateX(100%);
    transition: none;
}

main > content > .content-image-section,
main > content > .content-description-section,
main > content > .content-title-section,
main > content > .content-navigation-section-left,
main > content > .content-navigation-section-right {
    border: 1px solid var(--border-color);
}

main > content > .content-image-section {
    grid-column: 1/8;
    background-position: center;
    background-size: cover;
}

main > content:first-child > .content-image-section {
    background-image: url('./res/img/derivation-and-configuration-visualizer.png');
}

main > content:nth-child(2) > .content-image-section {
    background-image: url('./res/img/matrix-builder.png');
}

main > content:nth-child(3) > .content-image-section {
    background-image: url('./res/img/edit-properties-explorer.png');
}

main > content:nth-child(4) > .content-image-section {
    background-image: url('./res/img/distribution-explorer.png');
}

main > content > .content-description-section {
    grid-column: 8/11;
    flex-direction: column;
    padding: 4rem;
    background-color: var(--description-background-color);
}

main > content > .content-description-section > p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.25em;
}

main > content > .content-title-section {
    grid-column: 2/10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    background-color: var(--title-background-color);
}

main > content > .content-title-section > h2 {
    font-size: 3rem;
    line-height: 1.5rem;
}

main > content > .content-navigation-section-left {
    grid-column: 1/2;
    flex-direction: column;
    padding: 4rem;
    background-color: var(--navigation-button-background-color);
}

main > content > .content-navigation-section-right {
    grid-column: 10/11;
    flex-direction: column;
    padding: 4rem;
    background-color: var(--navigation-button-background-color);
}

main > content > .content-navigation-section-left > .content-navigation-button,
main > content > .content-navigation-section-right > .content-navigation-button {
    background-color: transparent;
    flex-grow: 1;
    border: none;
    outline: none;
    color: rgba(255, 255, 255, 0.75);
    font-size: 3rem;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

main > content > .content-navigation-section-left > .content-navigation-button:hover,
main > content > .content-navigation-section-right > .content-navigation-button:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

@media(max-width: 430pt) {
    #header-title-section {
        flex-basis: calc(100% / 3);
        gap: 3rem;
    }

    main {
        overflow-y: auto;
    }

    main > content {
        grid-template-columns: none;
        grid-template-rows: 1.5fr repeat(3, 0.75fr) 0.25fr;
        height: max(900px, 100%);
    }

    main>content>.content-description-section,
    main>content>.content-navigation-section {
        border-left: none;
    }

    main>content>.content-image-section {
        order: 1;
    }

    main>content>.content-mobile-section {
        border-bottom: 1px solid var(--border-color);
        order: 2;
    }

    main>content>.content-description-section {
        justify-content: center;
        order: 3;
    }

    main>content>.content-navigation-section {
        border-bottom: 1px solid var(--border-color);
        order: 4;
    }
}