#generate {
    padding: 1vw;
    border: none;
    border-radius: 2vh;
    background-image: linear-gradient(to bottom right, var(--bright-accent-shine), var(--bright-accent), var(--bright-accent-dull));
}
.night-mode #generate {
    background-image: linear-gradient(to bottom right, var(--bright-dark-accent-shine), var(--bright-dark-accent), var(--bright-dark-accent-dull));
}

main.v-center>* {
    margin-top: 1vh;
}

#chart-center {
    width: 80%;
    height: 80%;
}

#chart {
    height: 100%;
    width: 100%;
    border: 3px solid var(--accent);
    border-radius: 0.5vw;
    padding: 1vw;
    box-sizing: border-box;
}
.night-mode #chart {
    border: 3px solid var(--dark-accent);
}

#sort-selection, #filter-options {
    align-items: end;
}

#sort-options, #filter-list {
    margin-right: 2vw;
}

.two-margin {
    margin-right: 2vw;
}

#generate-wrapper>:first-child {
    margin-bottom: 2vh;
}

#filter-list {
    height: 100%;
    text-align: center;
}

input:not(:disabled), select, button {
    cursor: pointer;
}