#generate {
    padding: 1vw;
    border: none;
}

main.v-center>* {
    margin-top: 1vh;
}

#chart {
    height: 100%;
    width: 100%;
    border: 3px solid var(--accent);
    border-radius: 0.5vw;
    box-sizing: border-box;
}

#sort-selection, #filter-options {
    align-items: end;
}

#sort-options, #filter-list {
    margin-right: 2vw;
}

.two-margin {
    margin-right: 2vw;
}

#generate-wrapper {
    justify-content: flex-end;
    height: 100%;
}

#generate-wrapper>:first-child {
    margin-bottom: 2vh;
}

#filter-list {
    height: 100%;
    text-align: center;
}

input:not(:disabled), select, button {
    cursor: pointer;
}

main {
    overflow-y: auto;
}

@media all and (min-width: 601px) {
    #chart-center {
        max-width: 80%;
        width: 60%;
        aspect-ratio: 16/9;
        margin-bottom: 10vh;
        margin-top: 2vh;
    }

    #chart {
        padding: 1vw;
    }
}

@media all and (max-width: 600px) {
    #options-wrapper {
        flex-direction: column;
    }

    #options-wrapper>*:not(:first-child) {
        margin-top: 2vh;
        border-top: 3px solid var(--accent);
    }

    #generate-wrapper {
        padding-top: 2vh;
        width: 100%;
    }

    #chart-center {
        width: 90%;
        height: 70vh;
        min-height: 70vh;
        margin-top: 2vh;
        margin-bottom: 2vh;
    }

    #chart {
        padding: 1vh;
    }
}