h1 {
    font-size: 4vw;
    margin-top: 1vh;
    margin-bottom: 3vh;
}

header {
    box-sizing: border-box;
    padding-left: 1vw;
}

main {
    flex-grow: 1;
    position: relative;
    height: 100%;
    overflow-y: auto;
    padding-top: 1vh;
}

#input-wrapper {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin-bottom: 2vh;
}

input {
    width: 20ch;
}