main {
    padding-top: 1vh;
    display: grid;
    grid-template-columns: 70% 30%;
}

.two-margin {
    margin-right: 2vw;
}

#fill-matrix,
#clear-matrix {
    padding: 1vw;
    border: none;
    border-radius: 1vw;
    color: var(--body-text);
    background-image: linear-gradient(to bottom right, var(--bright-accent-shine), var(--bright-accent), var(--bright-accent-dull));
    transition: 0.2s linear filter;
}

.night-mode #fill-matrix,
.night-mode #clear-matrix {
    color: var(--dark-body-text);
    background-image: linear-gradient(to bottom right, var(--bright-dark-accent-shine), var(--bright-dark-accent), var(--bright-dark-accent-dull));
}

button:hover {
    filter: brightness(70%);
}
.night-mode button:hover {
    filter: brightness(130%);
}

.table-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vh;
    overflow: visible;
}

#property-options {
    align-items: start;
}

#property-wrapper {
    margin-right: 2vw;
}

#left-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
    justify-content: center;
}

#property-wrapper {
    align-items: end;
}

#table-wrapper {
    width: 90%;
    height: 90%;
    justify-content: center;
}

#table-caption {
    margin: 0;
    padding: 1vh 0;
}

#table rect {
    border: 1px solid #000000;
    border-collapse: collapse;
    transition: 0.2s linear filter;
}
#table rect:hover {
    filter: invert(40%);
}

#info-popup {
    position: fixed;
    width: max-content;
}

#info-bg {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--header-background);
    opacity: 90%;
    width: 110%;
    height: 100%;
    z-index: -1;
    clip-path: polygon(100% 0, 100% 100%, 10% 100%, 0 50%, 10% 0);
}

.night-mode #info-bg, .night-mode #info-bg-pointer {
    background-color: var(--dark-header-background);
}

#info-data {
    width: max-content;
    height: max-content;
    padding: 1vw;
    z-index: 1;
    margin-left: 10%;
}

h5 {
    padding: 0;
    margin: 0;
}

#lcs-display {
    margin-top: 0;
}

#lcs-derivation {
    text-align: center;
}

input:not(:disabled), select, button, #table rect {
    cursor: pointer;
}