main {
    padding-top: 1vh;
    display: grid;
    overflow: auto;
    flex-grow: 1;
    height: 100%;
}

#property-options {
    align-items: start;
}

#property-wrapper {
    margin-right: 2vw;
}

#left-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
    justify-content: center;
}

#start-game {
    padding: max(1vw, 1vh);
    margin-top: max(4vw, 4vh);
}

@media all and (min-width: 601px) {
    #table {
        margin-bottom: min(10vh, 40px);
    }

    main {
        grid-template-columns: 70% 30%;
    }
}

@media all and (max-width: 600px) {
    #table {
        margin-left: max(30vw, 20ch);
        margin-right: max(30vw, 20ch);
    }

    main {
        grid-template-rows: max-content max-content;
    }

    #property-wrapper {
        align-items: center;
        margin-bottom: 5vh;
    }
}