main {
    padding-top: 1vh;
    display: grid;
    overflow: auto;
    flex-grow: 1;
    height: 100%;
}

.two-margin {
    margin-right: 2vw;
}

#fill-matrix,
#clear-matrix {
    padding: 1vw;
    border: none;
    border-radius: 1vw;
    color: var(--body-text);
}

.table-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#table {
    margin-top: 3vh;
    overflow: visible;
}

#property-options {
    align-items: start;
}

#property-wrapper {
    margin-right: 2vw;
}

#left-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
    justify-content: center;
}

#property-wrapper {
    align-items: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#table-wrapper {
    width: 90%;
    height: 90%;
    justify-content: center;
}

#table-caption {
    margin: 0;
    padding: 1vh 0;
}

#table rect {
    border: 1px solid #000000;
    border-collapse: collapse;
    transition: 0.2s linear filter;
}
#table rect:hover {
    filter: invert(40%);
}

#info-popup {
    position: fixed;
    width: max-content;
}

#info-bg {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--header-background);
    opacity: 80%;
    width: 110%;
    height: 100%;
    z-index: -2;
    clip-path: polygon(100% 0, 100% 100%, 10% 100%, 0 50%, 10% 0);
}

#info-data {
    width: max-content;
    height: max-content;
    padding: 1vw;
    z-index: 1;
    margin-left: 10%;
}

h5 {
    padding: 0;
    margin: 0;
}

#lcs-display {
    margin-top: 0;
}

#lcs-derivation {
    text-align: center;
}

input:not(:disabled), select, button, #table rect {
    cursor: pointer;
}

#start-game {
    padding: max(1vw, 1vh);
    margin-top: max(4vw, 4vh);
}

@media all and (min-width: 601px) {
    #table {
        margin-bottom: min(10vh, 40px);
    }

    main {
        grid-template-columns: 70% 30%;
    }
}

@media all and (max-width: 600px) {
    #table {
        margin-left: max(30vw, 20ch);
        margin-right: max(30vw, 20ch);
    }

    main {
        grid-template-rows: max-content max-content;
    }

    #property-wrapper {
        align-items: center;
        margin-bottom: 5vh;
    }
}