main {
    position: relative;
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 50fr 20fr 30fr;
    grid-template-rows: 20fr 45fr 30fr;
    row-gap: 1vh;
    column-gap: 1vh;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

#computer-controls {
    position: absolute;
    top: 2vh;
    right: 2vh;
    width: 4vh;
    height: 4vh;
    border-radius: 100%;
    border: none;
    background-image: linear-gradient(var(--dark-accent), var(--dark-body-background));
    filter: brightness(100%) opacity(80%);
    transition: 0.2s filter linear;
    cursor: pointer;
}
#computer-controls:hover {
    filter: brightness(130%) opacity(80%);
}

#info-icon {
    width: 100%;
    height: 100%;
    fill: var(--dark-body-text);
}

#window-wrapper {
    grid-column: span 2;
    grid-row: span 2;
    padding: 1vw;
}

#window {
    width: 100%;
    height: 100%;
}

#icon-wrapper {
    position: relative;
    width: max-content;
    height: max-content;
}

#window, #matrix-dimensions, #legend, #lcs-information, #edit-operations {
    border: 3px solid var(--accent);
    text-align: center;
    border-radius: 2vw;
    box-sizing: border-box;
}
.night-mode :is(#matrix-dimensions, #legend, #lcs-information, #edit-operations) {
    border-color: var(--dark-accent);
}

#nm-spacer {
    display: flex;
    justify-content: space-evenly;
}

#matrix-dimensions, #legend, #lcs-information {
    display: flex;
    flex-direction: column;
    margin: 1vw;
    width: auto;
    height: auto;
    box-sizing: border-box;
    padding: 1vh;
}
#dimension-button, #lcs-button, #operation-button {
    cursor: pointer;
    border: none;
    margin: 1vh auto;
    width: 20ch;
    padding-top: 1vh;
    padding-bottom: 1vh;
    background-image: linear-gradient(to bottom right, var(--bright-accent-shine), var(--bright-accent), var(--bright-accent-dull));
}
.night-mode :is(#dimension-button, #lcs-button, #operation-button) {
    background-image: linear-gradient(to bottom right, var(--bright-dark-accent-shine), var(--bright-dark-accent), var(--bright-dark-accent-dull));
}

#edit-operations {
    grid-column: span 2;
    display: grid;
    margin: 1vw;
    width: auto;
    height: auto;
    box-sizing: border-box;
    padding: 1vh;
    grid-template-columns: 40% 60%;
    grid-template-rows: max-content max-content max-content;
}

#lcs-information div, #edit-results div {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    width: min-content;
}

#lcs-information div input, #edit-results div input {
    width: 20ch;
}

.two-margin {
    margin-right: 3vh;
}

#legend p {
    padding: 0;
    margin: 0;
}

#gradient-colors {
    display: block;
    width: 90%;
    height: 4vh;
}

#gradient-ticks > span {
    display: block;
    width: 100%;
    height: 100%;
}

#gradient-ticks > span:nth-child(2n + 2) {
    border-left: 3px solid var(--body-text);
}
.night-mode #gradient-ticks > span:nth-child(2n + 2) {
    border-left: 3px solid var(--dark-body-text);
}

#gradient-ticks, #gradient-labels {
    width: 100%;
    height: 2vh;
    margin-bottom: 0.6vh;
}
#gradient-labels p {
    width: 100%;
    text-align: center;
}
#gradient-labels {
    margin-bottom: 3vh;
}

#select-color span, #edit-color span {
    margin-top: 1vh;
    display: block;
    width: 80%;
    height: 80%;
    max-width: 80px;
    max-height: 80px;
    aspect-ratio: 1/1;
}
#select-color span {
    background-color: #8e3f29;
}
#edit-color span {
    background-color: #d18952;
}

#legend h5 {
    margin-top: 2vh;
    width: 90%;
}

#mobile-controls {
    position: absolute;
    bottom: 2vh;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: min-content;
}

#mobile-controls button {
    width: 20vw;
    height: 5vh;
    border: none;
    color: var(--dark-body-text);
    background-image: linear-gradient(to bottom right, var(--bright-dark-accent-shine), var(--bright-dark-accent), var(--bright-dark-accent-dull));
    transition: 0.2s linear filter;
}
#mobile-controls button:hover {
    filter: brightness(130%);
}

input:not(:disabled, :read-only), select {
    cursor: pointer;
}

#control-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background-color: #000000E0;
}

#control-box {
    width: max-content;
    height: max-content;
    padding-bottom: 2vh;
    padding-left: 5vw;
    padding-right: 5vw;
    background-color: var(--body-background);
    border-radius: 3vh;
    position: relative;
}
.night-mode #control-box {
    background-color: var(--dark-body-background);
}

#close-x {
    width: 2vw;
    height: 2vw;
    position: absolute;
    top: -2vw;
    right: -2vw;
    fill: #FFFFFF;
    cursor: pointer;
}

.night-mode #close-x {
    fill: #FFFFFF;
}

#control-text-mobile {
    display: none;
}

#control-text-mobile *:not(h2), #control-text-pc *:not(h2) {
    text-align: center;
    border: 2px solid var(--accent);
}

#control-text-mobile td, #control-text-pc td {
    padding: 1vh;
}

.night-mode #control-text-mobile *:not(h2), .night-mode #control-text-pc *:not(h2) {
    border: 2px solid var(--dark-accent);
}

#lcs-information, #edit-operations {
    justify-content: flex-start;
}

#lcs-set.center, #new-set.center {
    justify-content: space-around;
    width: 100%;
}

#lcs-set p, #new-set p {
    padding: 1vw;
    background-image: linear-gradient(to bottom right, var(--bright-accent-shine), var(--bright-accent), var(--bright-accent-dull));
}
.night-mode #lcs-set p, .night-mode #new-set p {
    background-image: linear-gradient(to bottom right, var(--bright-dark-accent-shine), var(--bright-dark-accent), var(--bright-dark-accent-dull));
}

.no-padding {
    padding: 0;
    margin: 0;
}

#edit-label {
    grid-column: span 2;
}
#edit-selection {
    align-items: end;
}
#edit-operation-results {
    grid-column: span 2;
}

#edit-operations:has(#substitute:checked) #substitution {
    display: initial;
}
#edit-operations:has(#permute:checked) #permutation {
    display: initial;
}
#edit-operations:has(#slice-n-concat:checked) #slice-concat {
    display: initial;
}

#edit-parameters {
    width: 100%;
}
.perm-label {
    width: 6ch;
    text-align: center;
}